@inherits LayoutComponentBase

<nav>
    <a href="/pages">Pages</a>
    <a href="/signatures">Signatures</a>
    <a href="/templates">Templates</a>
    <a href="/styles">Styles</a>
</nav>
<main>
    @Body
</main>
