@inherits LayoutComponentBase

<nav>
    <NavLink href="/pages">Pages</NavLink>
    <NavLink href="/signatures">Signatures</NavLink>
    <NavLink href="/templates">Templates</NavLink>
    <NavLink href="/styles">Styles</NavLink>
</nav>

<main>
    @Body
</main>
