@using static BlazorComponentsLayersTest.Layouts.TreeLayout;

<div class="page">
    <PageMenu OnArrangmentsButton=@OnArrangmentsButton />
    <Arrangements @ref=@_arrangements OnAddNewClick=@OnAddNewArrangmentClick />
    <Arrangements_AddNew @ref=@_arrangements_AddNew/>
    <TreeLayout Tree=Tree LayoutGap=20 />
</div>

@code {
    private Arrangements? _arrangements;
    private Arrangements_AddNew? _arrangements_AddNew;

    private void OnArrangmentsButton()
    {
        _arrangements.OuterClickComponent.Enabled = !_arrangements.OuterClickComponent.Enabled;
    }
    private void OnAddNewArrangmentClick()
    {
        _arrangements.OuterClickComponent.Enabled = !_arrangements.OuterClickComponent.Enabled;
        _arrangements_AddNew.OuterClickComponent.Enabled = !_arrangements_AddNew.OuterClickComponent.Enabled;
    }
    public TreeNode? Tree = new TreeNode
        {
            Content = RenderFragmentExtensions.CreateComponent<Property>("Author", "Misa Ammo"),
            Children = new List<TreeNode>
        {
            new TreeNode
            {
                Content = RenderFragmentExtensions.CreateComponent<Property>("Lessons"),
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "wa nad ga particles"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "tara and nara"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "Basic expressions"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },

            new TreeNode
            {
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },

            new TreeNode
            {
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },
        }
    };
}