.mod-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: fit-content;
    background: #e0e0e0;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
}

.mod-menu-button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

.mod-menu-button:hover {
    color: red;
}
