@using BlazorComponentsLayersTest.ViewModels;
@using System.Drawing;
@using Corelibs.Basic.Colors;
@using Microsoft.AspNetCore.Components.Rendering;
@using static BlazorComponentsLayersTest.Layouts.TreeLayout;

<div class="page">
    <PageMenu OnArrangmentsButton=@OnArrangmentsButton />
    <PageHeader Model=@PageHeaderVM />
    <TreeLayout @ref=_treeLayout Tree=Tree BeforeExpand=BeforeExpand AfterExpand=AfterExpand ModifyNode=ModifyNode LayoutGap=20 />
    <Arrangements @ref=@_arrangements OnAddNewClick=@OnAddNewArrangmentClick />
    <Arrangements_AddNew @ref=@_arrangements_AddNew Properties=_properties />
</div>

@code {
    private Arrangements? _arrangements;
    private Arrangements_AddNew? _arrangements_AddNew;
    private TreeLayout? _treeLayout;

    private List<IdentityVM> _properties = new();

    protected override void OnInitialized()
    {
        _properties = Tree.Children.Select(n => n.Identity).ToList();
    }

    private void OnArrangmentsButton()
    {
        _arrangements.OuterClick.Enabled = !_arrangements.OuterClick.Enabled;
    }

    private void OnAddNewArrangmentClick()
    {
        _arrangements.OuterClick.Enabled = !_arrangements.OuterClick.Enabled;
        _arrangements_AddNew.OuterClick.Enabled = !_arrangements_AddNew.OuterClick.Enabled;
    }

    private Task<bool> BeforeExpand(string id)
    {
        return Task.FromResult(true);
    }

    private Task AfterExpand(string id) => InvokeAsync(StateHasChanged);

    private static TreeNode.GetContentDelegate GetProperty(params string[] arguments)
    {
        return GetContent;
        RenderFragment GetContent(TreeNode node, ref int seq)
        {
            int seqLocal = seq;
            seq += 4;

            var style = node.Data as StyleVM;

            return RenderFragmentExtensions.CreateComponent<Property>(builder =>
            {
                var vmModel = new Property.ViewModel();

                if (arguments.Length >= 1)
                    vmModel.Artifacts.Add(
                        new()
                        {
                            Text = arguments[0],
                            VisualInfo = new()
                            {
                                Font = new()
                                {
                                    FontSize = 10
                                }
                            }
                        });

                if (arguments.Length >= 2)
                    vmModel.Artifacts.Add(new()
                    {
                        Text = arguments[1],
                        VisualInfo = new()
                        {
                            Font = new()
                            {
                                FontSize = 14
                            }
                        }
                    });

                builder.AddAttribute(seqLocal++, "Model", vmModel);
            });
        };
    }

    private void ModifyNode(RenderTreeBuilder builder, TreeNode node, ref int sequence)
    {
        if (node.Parent != null)
        {
            builder
                .AddCssAttribute(ref sequence, "Padding", 16)
                .AddCssAttribute(ref sequence, "PaddingLeft", 16);
        }

        var style = node.Data as StyleVM;
        if (style == null)
            return;

        builder
            .AddCssAttribute(ref sequence, "BorderRadius", style.Borders.Radius)
            .AddCssAttribute(ref sequence, "Background", style.BackgroundColor.DefaultColor.ToRgbaString());
    }

    public static PageHeader.ViewModel PageHeaderVM = new()
    {
        Artifacts = new()
        {
            new()
            {
                Text = "Author",
                Font = new()
                {
                    FontSize = 16,
                }
            },
            new()
            {
                Text = "Misa Ammo",
                Font = new()
                {
                    FontSize = 24,
                }
            }
        }
    };
    private readonly static Color BackgroundColor = Color.FromArgb(255, 225, 228, 228);
    public static TreeNode? Tree = new()
    {
        CanExpand = false,
        IsExpanded = true,
        Children = new List<TreeNode>
        {
            new TreeNode
            {
                Data = new StyleVM()
                {
                    Font = new()
                    {
                        FontSize = 20
                    },
                    BackgroundColor = new()
                    {
                        DefaultColor = BackgroundColor
                    }
                },
                Identity = new IdentityVM("LessonsID", "Lessons"),
                GetContent = GetProperty("Lessons"),
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        GetContent = GetProperty("Lesson", "wa nad ga particles"),
                        Children = new List<TreeNode>
                        {
                        }
                    },
                    new TreeNode
                    {
                        GetContent = GetProperty("Lesson", "tara and nara"),
                        Children = new List<TreeNode>
                        {
                        }
                    },
                    new TreeNode
                    {
                        GetContent = GetProperty("Lesson", "Basic expressions"),
                        Children = new List<TreeNode>
                        {
                        }
                    },
                }
            },

            new TreeNode
            {
                LayoutType = LayoutType.Grid,
                Data = new StyleVM()
                {
                    BackgroundColor = new()
                    {
                        DefaultColor = BackgroundColor
                    }
                },
                Identity = new IdentityVM("WordsID", "Words"),
                GetContent = GetProperty("Words", "Words"),
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        CanExpand = false,
                        GetContent = GetProperty("Lesson", "Word"),
                        Data = new StyleVM()
                        {
                            BackgroundColor = new()
                            {
                                DefaultColor = Color.Aqua
                            }
                        }
                    },
                    new TreeNode
                    {
                        CanExpand = false,
                        GetContent = GetProperty("Lesson", "Word"),
                        Data = new StyleVM()
                        {
                            BackgroundColor = new()
                            {
                                DefaultColor = Color.Aqua
                            }
                        }
                    },
                }
            },

            new TreeNode
            {
                LayoutType = LayoutType.Grid,
                Identity = new IdentityVM("CharactersID", "Characters"),
                GetContent = GetProperty("Characters", "Characters"),
                Children = Enumerable.Range(97, 23).Select(i => new TreeNode
                {
                    CanExpand = false,
                    GetContent = GetProperty("", ((char) i).ToString()),
                    Data = new StyleVM()
                    {
                        BackgroundColor = new()
                        {
                            DefaultColor = Color.Gray
                        }
                    },
                })
                .ToList(),
                Data = new StyleVM()
                {
                    BackgroundColor = new()
                    {
                        DefaultColor = BackgroundColor
                    }
                },
            },

            new TreeNode
            {
                GetContent = GetProperty("CharactersID", "Characters"),
                Identity = new IdentityVM("ThirdID", "Sup!"),
                Data = new StyleVM()
                {
                    BackgroundColor = new()
                    {
                        DefaultColor = BackgroundColor
                    }
                },
            },
        }
    };
}
