@using static BlazorComponentsLayersTest.Layouts.TreeLayout;

<div class="page">
    <div class="mod-menu">
        <button class="mod-menu-button">Styles</button>
        <button class="mod-menu-button">Arrangements</button>
        <button class="mod-menu-button">Versions</button>
    </div>
    <TreeLayout Tree=Tree LayoutGap=20 />
</div>


@code {
    public TreeNode? Tree = new TreeNode
        {
            Content = RenderFragmentExtensions.CreateComponent<Property>("Author", "Misa Ammo"),
            Children = new List<TreeNode>
        {
            new TreeNode
            {
                Content = RenderFragmentExtensions.CreateComponent<Property>("Lessons"),
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "wa nad ga particles"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "tara and nara"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Content = RenderFragmentExtensions.CreateComponent<Property>("Lesson", "Basic expressions"),
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },

            new TreeNode
            {
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },

            new TreeNode
            {
                Children = new List<TreeNode>
                {
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                    new TreeNode
                    {
                        Children = new List<TreeNode>
                        {

                        }
                    },
                }
            },
        }
    };
}