@inherits BaseElement

<div class="property-container">
    <div class="property">
        @*<div class="property-highlight"/>*@
        <SignatureAndName Text1=@Text1 Text2=@Text2 />
        <HoverableMenu Title="S" VM=_menuVM OnClick=OnMenuButtonClick MenuButtonCSS="property-menu-button" />
        <ul class="side-menu">
            <input type="checkbox" class="select-checkbox" />
        </ul>
    </div>
</div>

@code {
    [Parameter] public string Text1 { get; set; }
    [Parameter] public string Text2 { get; set; }
    [Parameter] public string ID { get; set; }

    private Task<bool> OnMenuButtonClick(HoverableMenu.ButtonVM vm)
    {
        return Task.FromResult(true);
    }

    private HoverableMenu.MenuVM _menuVM = new()
    {
        Buttons = new()
        {
            new("Create"),
            new("Archive"),
            new("Move Up"),
            new("Move Down"),
            new("Move To Index"),
        }
    };
}
