@using Common.Basic.Collections;

@if (!Text1.IsNullOrEmpty())
{
    <p class="signature">@Text1</p>
}
<p class="name">@Text2</p>

@code {
    [Parameter] public string Text1 { get; set; }
    [Parameter] public string Text2 { get; set; }
}
