@using BlazorComponentsLayersTest.ViewModels;
@using static BlazorComponentsLayersTest.Layouts.TreeLayout;

<div class="style">
    <TreeLayout @ref=_treeLayout Tree=Tree BeforeExpand=BeforeExpand AfterExpand=AfterExpand LayoutGap=20 OverflowX=@("hidden") />
</div>

@code {
    [Parameter] public ViewModel VM { get; set; } = new();

    private TreeLayout? _treeLayout;

    private Task<bool> BeforeExpand(string id) => Task.FromResult(true);
    private Task AfterExpand(string id) => InvokeAsync(StateHasChanged);

    public static TreeNode? Tree = new TreeNode
    {
        Content = RenderFragmentExtensions.CreateComponent<StyleProperty>("Signature", "Name"),
        Children = new List<TreeNode>
        {
            new TreeNode
            {
                Identity = new IdentityVM("LessonsID", "Lessons"),
                Content = RenderFragmentExtensions.CreateComponent<StyleProperty>("Name")
            },

            new TreeNode
            {
                Content = RenderFragmentExtensions.CreateComponent<StyleProperty>("Signature", "Name"),
                Identity = new IdentityVM("SecondID", "Bah bah")
            },

            new TreeNode
            {
                Content = RenderFragmentExtensions.CreateComponent<StyleProperty>("Signature", "Name"),
                Identity = new IdentityVM("ThirdID", "Sup!"),
            },
        }
    };

    public class ViewModel
    {
        
    }
}
