@using Common.Basic.Functional

@inherits BaseLayout

<div class="vertical-layout @(@class)"
     style=@CombinedStyle 
    @onclick=@OnClickInternal @onclick:stopPropagation=true @onclick:preventDefault=true>

    <CascadingValue Value=@_children>
        @ChildContent
    </CascadingValue>

</div>
