.is-active .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: relative;
    min-width: fit-content;
    min-height: fit-content;
    box-sizing: border-box;
    z-index: 99999;
    position: fixed;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    z-index: 99999;
}

.dropdown-item {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    width: fit-content;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}