@inherits BaseElement

<div class="outer @_displayNoneCssClass @(@class)" @onclick=@OnClick style=@Style @ref=ElementReference>
    <div @onclick:stopPropagation="true" @onclick:preventDefault="true">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CssAttribute? ZIndex { get; set; }

    public ElementReference ElementReference { get; private set; }

    private string _displayNoneCssClass => _enabled ? "" : "display-none";

    private bool _enabled;
    public bool Enabled {
        get => _enabled;
        set {
            _enabled = value;
            InvokeAsync(StateHasChanged);
        }
    }

    private void OnClick()
    {
        Enabled = false;
    }
}
