
<div class="box">
    <h5>Box</h5>
    <label class="attribute">
        <input type="checkbox" checked="checked" />
        <StyleLine Name="Top" />
    </label>
    <label class="attribute">
        <input type="checkbox"/>
        @*<StyleLine Name="Bottom" />*@
    </label>
    <label class="attribute">
        <input type="checkbox" />
        @*<StyleLine Name="Left" />*@
    </label>
    <label class="attribute">
        <input type="checkbox" />
        @*<StyleLine Name="Right" />*@
    </label>
</div>

@code {

}
