.tree-layout-container {
    overflow-x: auto;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tree-layout-container::-webkit-scrollbar {
    width: 0.25rem;
}

.tree-layout-container::-webkit-scrollbar-track {
    background: #ddd;
}

.tree-layout-container::-webkit-scrollbar-thumb {
    background: #444;
}

.tree-layout {
    position: relative;
}

.relative {
    position: relative;
}

div ::deep .expand-button {
    position: absolute;
    left: 0;
    top: 17px;
    transform: translate(-90%, 0);
    width: fit-content;
    max-height: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

div ::deep .expand-icon:hover {
    filter: brightness(50) invert(0.5);
}
