.tree-layout-container {
    overflow-x: auto;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tree-layout-container::-webkit-scrollbar {
    width: 0.25rem;
}

.tree-layout-container::-webkit-scrollbar-track {
    background: #ddd;
}

.tree-layout-container::-webkit-scrollbar-thumb {
    background: #444;
}

.tree-layout {
    position: relative;
}

.relative {
    position: relative;
}
