@using Corelibs.BlazorShared.UI.Css;

@inherits BaseElement

<p style=@Style class="@(@class)">@Text</p>

@code {
    [Parameter] public string? Text { get; set; } = "";
    [Parameter] public CssAttribute? FontSize { get; set; }
    [Parameter] public CssAttribute? FontWeight { get; set; }

}
    