@using Corelibs.BlazorComponents.ViewModels;
@using Microsoft.AspNetCore.Components.Rendering;
@using Common.Basic.Collections
@using Corelibs.Basic.Colors;
@using Corelibs.BlazorShared.UI;
@using Corelibs.BlazorShared.UI.Css;
@using System.Drawing;

@inherits BaseElement

<div class="tree-layout-container" style=@base.Style>
    <div class="tree-layout">
        @{ treeNodeCount = Tree.Flatten(n => n.IsExpanded ? n.Children : new()).Count(); }
        @{ curTreeNodeIndex = 0; seq = 0; }
        @GetTreeRenderFragment(Tree)
        @if (Highlight != HighlightType.None)
        {
            @GetParentStyle()
        }
    </div>
</div>
